<h1>努力の名言50</h1>
<div id="grid-content">
  <% @posts.each do |post| %>
    <%= link_to(post_path(post.id)) do %>
    <div>
    <h3><%= post.content %></h3>
    <p><%= post.author %></p>
    </div>
    <% end %>
  <% end %>
</div>
