body {
	padding: 10px 0 0 10px;
	margin: 0;
}
#grid-content {

}
#grid-content div {
	width: 316px;
	border: 1px solid #000000;
	background-color: #000000;
	color: #FFFFFF;
	margin: 5px;
	padding: 3px;
}

#grid-content div h3 {
	line-height: 1.1em;
	margin: 0;
	padding: 0;
}
#grid-content div p {
	margin: 0;
	padding: 0;
}
